//
//  Debug.xcconfig
//  iHolidays
//
//  Created by Saúl Moreno Abril on 25/1/21.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

HOLIDAYS_API_BASE_URL = https:/$()/holidayapi.com/v1
HOLIDAYS_API_KEY = 410fe27f-17e3-49cd-ba09-81297ff6cb77
